* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left {
    text-align: center;
    float: left;
    width: 20%;
    margin-top: 50px;
    background-color: #213555;
    padding-top: 5%;
    padding-bottom: 5%;
    position: fixed;
    top: 10%;
}

main {
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 100px;
    padding-left: 5%;
}

main p {
    text-align: justify;
}

header {
    color: #FBF9F1;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 23px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #213555;
}

a {
    text-decoration: none;
}

section a {
    color: #FBF9F1;
    font-weight: bold;
    padding: 10px 15px;
}

section a:hover {
    color: #213555;
    background-color: #FBF9F1;
}

.active {
    color: #213555;
    background-color: #FBF9F1;
}

main a:visited {
    color: blue;
}

.active a{
    color: #213555;
}

article {
    display: flow-root;
}

body {
    background-color: #FBF9F1;
}

figure > img {
    display: block;
}

/*
figure {
    border: 2px solid #f00;
    /* for illustration only */
    /*padding: 2px;*/
    /* for illustration only */
/*}/*