* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left {
    text-align: center;
    float: left;
    border: 2px dashed blue;
    margin: 2em 1em 1em 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}

main {
    border: 2px dashed red;

}

header {
    text-align: center;
    border: 2px dashed red;
}